<% layout('/includes/boilerplate') -%>
<body>
    <div id="filters">
        <a href="/listing/filter/Trending">
            <div class="filter">
                <div><i class="fa-solid fa-fire"></i></div>
                <p>Trending</p>
            </div>
        </a>
        <a href="/listing/filter/Mountain">
            <div class="filter">
                <div><i class="fa-solid fa-mountain"></i></div>
                <p>Mountains</p>
            </div>
        </a>
        <a href="/listing/filter/Room">
            <div class="filter">
                <div><i class="fa-solid fa-bed"></i></div>
                <p>Rooms</p>
            </div>
        </a>
        <a href="/listing/filter/Castle">
            <div class="filter">
                <div><i class="fa-brands fa-fort-awesome"></i></div>
                <p>Castles</p>
            </div>
        </a>
        <a href="/listing/filter/Iconic-City">
            <div class="filter">
                <div><i class="fa-solid fa-mountain-city"></i></div>
                <p>Iconic Cities</p>
            </div>
        </a>
        <a href="/listing/filter/Arctic">
            <div class="filter">
                <div><i class="fa-solid fa-snowflake"></i></div>
                <p>Arctic</p>
            </div>
        </a>
        <a href="/listing/filter/Beach">
            <div class="filter">
                <div><i class="fa-solid fa-umbrella-beach"></i></div>
                <p>Beaches</p>
            </div>
        </a>
        <a href="/listing/filter/Pool">
            <div class="filter">
                <div><i class="fa-solid fa-person-swimming"></i></div>
                <p>Amazing Pools</p>
            </div>
        </a>

        <div class="tax-switch">
            <div class="form-check-reverse form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                <label class="form-check-label" for="flexSwitchCheckDefault">Display taxes</label>
            </div>
        </div>
        
    </div>
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 g-4">
        <% for(let i of data){ %>
            <a href="/listing/<%= i._id %>">
                <div class="card col">
                    <img src="<%= i.image.url %>" class="card-img-top" style="height: 20rem;" alt="Listing Image">
                    <div class="card-img-overlay"></div>
                    <div class="card-body">
                        <p class="card-text">
                            <b><%= i.title %></b><br>
                            &#8377;<%= i.price.toLocaleString("en-IN") %>/night
                            <i class="tax-info">&nbsp; + &#8377;<%= 0.18*i.price %> (GST)</i>
                        </p>
                    </div>
                </div>
            </a>
            
        <% } %>
    </div>
    
</body>
<script>
    let txSwitch=document.querySelector(".form-check-input");
    txSwitch.addEventListener("click",()=>{
        let taxInfo=document.getElementsByClassName("tax-info");
        for(j of taxInfo){
            if(j.style.display!="inline"){
                j.style.display="inline";
            }else{
                j.style.display="none";
            }
        }
    });
</script>


